@use './styles/abstractions' as *;

.app {
  min-height: 100%;
  font-family: var(--ff-base);
  color: var(--clr-text);
  background-color: var(--clr-background-app);
  padding-bottom: 4rem;
}

.main {
  @include wrapper;
  font-size: var(--fs-S);
  background-color: var(--clr-background-app);
  padding-inline: var(--space-app-side);
  z-index: 0;
}
